<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST">
        <legend class="d-flex justify-content-center">Login</legend>
        <div class="mb-3">
          <label for="txtName" class="form-label">Email</label>
          <input
            type="text"
            [(ngModel)]="loginUser.email"
            name="email"
            class="form-control"
            id="txtName"
          />
        </div>
        <div class="mb-3">
          <label for="txtCost" class="form-label">Password</label>
          <input
            type="password"
            [(ngModel)]="loginUser.password"
            name="password"
            class="form-control"
            id="txtCost"
          />
        </div>

        <button type="button" (click)="login()" class="btn btn-primary">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
